# Ignore all .DS_Store files in any directory
.DS_Store

# Ignore all .env files to prevent committing sensitive environment variables
.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore specific large data files (JSON files) in PLOS and eLife directories
dataSets/plos/*.json
dataSets/elife/*.json

# Allow README.md files to be tracked, even in ignored directories
!dataSets/plos/README.md
!dataSets/elife/README.md